[user]
	name = Nanda H Krishna
	email = me@nandahkrishna.com
	signingkey = 067E5FCD58ADF3AA
[core]
[core]
	excludesfile = /Users/nanda/.gitignore_global
	autocrlf = input
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
[tag]
	gpgsign = true
